<!-- Add your content of head and header -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./static/assets/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="./static/assets/images/favicon.ico" rel="icon">

  <title>Main Muzpage</title>

<link href="./static/main.97292821.css" rel="stylesheet"></head>

<body>

 <!-- Add your content of header -->
<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="navbar-collapse">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="./templates/index.html#contact-section-container" title="" class="anchor-link">Contact Us</a></li>
            <li>
                <p>
                    <a href="./templates/components.html" class="btn btn-default navbar-btn" >Components</a>
                </p>
            </li>


        </ul>

      </div>
    </div>
  </nav>
</header>



<!-- Add your site or app content here -->
<div class="background-image-container white-text-container" style="background-image: url('./static/assets/images/img-05.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Lupi & Zizi</h1>
                <p class="">Get in touch if you want to express your utter fondness of us, the cutest Muziz there are </p>
                <a href="#contact-section-container" class="btn btn-primary btn-lg anchor-link" title="">Get in touch</a>
            </div>
        </div>
    </div>
</div>

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">About Muziz</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Zizi</h3>
                <p>Zizi is an incredible cat, with an overwhelmingly good emotional depth. He might be loud, can try to claw your eyes out, but believe me he is super
				super cute. </p>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Lupi</h3>
                <p>Kind hearted, inquisitive and always out on an adventure. if Meowdalf was ever out looking for a ring bearer, Lupi would be the cat to withstand Meorons seduction.
				</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Care takers</h3>
                <p> a bunch of nice humans. dull at times but good at upholding their duties of feeding and entertaining the muziz.
				</p>
            </div>
        </div>
    </div>
</div>

<div class="section-container section-half-background-image-container">
    <div class="image-column" style="background-image: url('./static/assets/images/img-01.jpg')"></div>
    <div class="container">
        <div class="row">
            <div class="section-label reveal">
                <p>zzzzzzzzz</p>
            </div>
            <div class="col-md-6 col-md-offset-6 text-column">
                <h2>Sleeping isn't just a biological need, it's a way of life</h2>
                <h3>Why we encourage sleep:</h3>
                <p>Through out a life-time of 4 year, we have practiced the art known to humans by many names: resting, dozing off, snoozing, forty winks, slumber, siesta ...etc
                    as the saying goes in Norway "a dear child has many names", and for us sleep is the dearest child.
                    we like to keep things simple and will refer to sleep as simply sleep.
                    </p>
                <p>We discovered that Sleeping for 18 to 20 hours a day has many great benefits. This includes and is not limited to, great appetite, sparkly eyes, great bowl activity,
                extreme cuteness and most importantly zero worries.
                We understand the difficulties such "drastic" way of living might present for humans, we therefor offer our exclusive course "How to sleep and only sleep: a guide into
                acquiring the right caretakers and not have to work a single hour in your life" </p>
                <p>Our courses are individually tailored, which will naturally result in individual pricing. We accept payment only by crypto currencies. All coins accepted except, Shiba and Doge.
                Contact us by using the form below for prices.</p>

            </div>
        </div>
    </div>
</div>



<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Our sleep depicted in pictures </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src="./static/assets/images/img-02.jpg" alt="" class="img-responsive">
                <h3 class="text-center">Sleeping in a tent</h3>
                <p>We have trained our caretakers to spot locations suitable to set up sleeping tents. Caretakers will continuously improve sleeping conditions in the existing tents
                    as well as find new locations to establish more spacious and more comfortable tents. We teach this in our course.</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <img src="./static/assets/images/img-03.jpg" alt="" class="img-responsive">
                <h3 class="text-center">Sleeping on a warm bathroom floor</h3>
                <p>Despite the sky high electricity prices, we have managed to hypnotize our caretakers to screw the warmth parameters on max. This way we can glue our naked
                    skin to the a warm floor, resulting in optimal sleeping conditions. Caretaker hypnosis included in our course. </p>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="./static/assets/images/img-04.jpg" alt="" class="img-responsive">
                <h3 class="text-center">Sleeping under heat lamp</h3>
                <p> On summery days, when the caretakers might trun off the floor heat or stupidly conclude the palace is "warm enough". We managed to push caretakers to purchase
                    a heat lamp and place it in a window with a view. This way we can enjoy the beautiful summery view and still have plenty of heat. Included in our course are recommendations for heat lamps. </p>
            </div>
        </div>
    </div>
</div>

<div class="">
    <div class='container-fluid'>
        <div class="row map-container">
            <div id="map"></div>
            <div class="col-xs-10 col-md-4 contact-block-container reveal">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h3>Phone</h3>
                        <p>(666)-666-6666</p>

                        <h3>E-mail</h3>
                        <p>Muziz@gmail.com</p>

                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <h3>Address</h3>
                        <p>4 Privet Drive, Narnia</p>

                        <h3>Open hours</h3>
                        <p>Mon - Fri : 9AM - 5PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-container" id="contact-section-container">
    <div class="container contact-form-container">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <div class="section-container-spacer">
                    <h2 class="text-center">Get in touch</h2>
                </div>
                <form action="submit_form" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input name="name" id="name" type="text"  class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input name="email" id="email" type="email" class="form-control" placeholder="Email" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea name="message" id="message" class="form-control" rows="3" placeholder="Enter your message"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox1" value="option1">Email me a copy
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox2" value="option2">I am a human
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary">Send message</button>
                    <a href="" class="btn btn-default">Reset</a>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
document.addEventListener("DOMContentLoaded", function (event) {
    
  googleMapInit(); 
  scrollToAnchor();
  scrollRevelation('reveal');
});
</script>

<footer class="footer-container white-text-container">
    <div class="container">
        <div class="row">
                <div class="col-md-4">
                    <h4>About us</h4>
                    <p>Muziz, pioneers in sleep therapy. Therapy applicable to all sorts of life challenges, suitable for everyone cat or human.</p>
                </div>

                <div class="col-md-4">
                    <h4>More online Content? check us out on instagram!</h4>
                    <div>
                        <p>
                            <a href="https://www.instagram.com/azizi_lupus/" class="fa-icon" title="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        </p>
                    </div>
                    <div>
                        <p><small>© Untitled | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small></p>
                    </div>

                </div>

                <div class="col-md-4">
                        
                    <h4>Subscribe to newsletter</h4>
                    <form action = "news_letter_sub" method="post">
                    <div class="form-group">
                        <div class="input-group">
                            <input name= "subscriber" type="text" class="form-control footer-input-text" required = "email ">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default btn-newsletter ">Subscribe</button>
                            </div>
                        </div>
                        
                      </form>
                    </div>
                </div>
        </div>
    </div>
</footer>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
});
</script>


<script type="text/javascript" src="./static/main.faaf51f9.js"></script>